@{
    ViewData["Title"] = "My Signatures";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <h1>@ViewData["Title"]</h1>
    <p>Information about your signatures is here</p>
</div>
