@model IEnumerable<Certify.Models.Document>
@{
    ViewData["Title"] = "Додайте файл";
}
<h3>Виберіть файл для завантаження</h3>
<form asp-action="AddFile" asp-controller="MyDocuments" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile"/>
    <input type="submit"/>
</form>

<h3>Всі файли</h3>
@foreach (var f in Model)
{
    <p>
        <div class="card-footer text-muted">
            @f.Title
            <a href="@Url.Content(f.FileURL)">
                <img src="https://w7.pngwing.com/pngs/160/158/png-transparent-arrow-dowload-down-file-basic-interface-icon-thumbnail.png" height="20">
            </a>
        </div>
    </p>
}