@using System.Security.Policy;
@using Certify.Data;
@using Certify.Models;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Certify.Models.Document>
@inject UserManager<User> _userManager
@{
    ViewData["Title"] = "My Documents";
}
<h3>Завантажені файли</h3>
@{
    var currentUser = await _userManager.GetUserAsync(Context.User);
}

@foreach (var f in Model.Where(x => x.UserId == currentUser.Id))
{
    <p>
        <div class="card-footer text-muted">
            @f.Title
            <a href="@Url.Content(f.FileURL)">
                <img src="https://w7.pngwing.com/pngs/160/158/png-transparent-arrow-dowload-down-file-basic-interface-icon-thumbnail.png" height="20">
            </a>
        </div>
    </p>
}
<h4>Виберіть файл для завантаження</h4>
<form asp-action="AddFile" asp-controller="MyDocuments" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>