@using System.Security.Policy;
@using Certify.Data;
@using Certify.Models;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> _userManager
@model List<Certify.Models.Document>

@{
    ViewData["Title"] = "My Documents";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>List of your documents is here...</p>
</div>

<div class="container row text-center g-3">

    <div class="col-md-2">
        <div class="card h-100">
            <div class="card-body">
                <a class="nav-link text-primary" asp-controller="MyDocuments" asp-action="Create">
                    <i class="bi bi-file-earmark-plus display-1"></i>
                    <p>Add File</p>
                </a>
            </div>
        </div>
    </div>

    @{
        var currentUser = await _userManager.GetUserAsync(Context.User);

        for (int i = Model.Count - 1; i >= 0; i--)
        {
            var f = Model[i];
            if (f.UserId == currentUser.Id)
            {
                <div class="col-md-2">
                    <div class="card bg-light h-100">
                        <div class="card-body">
                            <i class="bi bi-file-earmark-text display-1"></i>
                            <p>@f.Title</p>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>