@{
    ViewData["Title"] = "Home";
}

<div class="container col-4 text-center text-uppercase">
    <h1 class="display-5">Welcome to</h1>
    <h1 class="display-1">Certify</h1>
    <hr />
</div>


<div class="container">
   
</div>
<div class="container">

</div>
<div class="container">

</div>
<div class="container">

</div>