@model string[]

@{
    ViewData["Title"] = "Home";
}

<div class="container col-md-4 text-center text-uppercase">
    <h1 class="display-5">Welcome to</h1>
    <h1 class="display-1">@ViewData["Title"]</h1>
    <hr />
</div>

<div class="container col-md-6">
    @foreach (var text in @Model)
    {
        <p>@text</p>
    }
</div>