@{
    ViewData["Title"] = "Notifications";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <h1>@ViewData["Title"]</h1>
    <p>Notifications here 1 2 3</p>
</div>
